<header class="<%= clase %> mvc-display-container mvc-opacity-min" id="<%= page %>">
    <div class="mvc-display-middle" style="white-space: nowrap">
        <span class="mvc-center mvc-padding-large mvc-black mvc-xlarge mvc-wide mvc-animate-opacity">
            <%= title %>
        </span>
    </div>
</header>