<!DOCTYPE html>
<html>
<%- include("partials/head.ejs",{
  title : "About"
}) %>

  <body>
    <%- include("partials/navbar.ejs") %>

      <%- include("partials/header",{
        title : "ABOUT",
        page : "about",
        clase : "bgimg-2"
      }) %>

        <div class="mvc-content mvc-container mvc-padding-64" id="about">
          <h3 class="mvc-center">I love photography</h3>
          <p class="mvc-center"><em>is a hobby photographer...</em></p>
          <p>
            We have created a fictional "personal" website/blog, and our fictional
            character is a hobby photographer. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>

        <!-- Footer -->
        <footer class="mvc-center mvc-black mvc-padding-64 mvc-opacity mvc-hover-opacity-off">
          <a href="#home" class="mvc-button mvc-light-grey"><i class="fa fa-arrow-up mvc-margin-right"></i>To the
            top</a>
          <div class="mvc-xlarge mvc-section">
            <i class="fa fa-facebook-official mvc-hover-opacity"></i>
            <i class="fa fa-instagram mvc-hover-opacity"></i>
            <i class="fa fa-snapchat mvc-hover-opacity"></i>
            <i class="fa fa-pinterest-p mvc-hover-opacity"></i>
            <i class="fa fa-twitter mvc-hover-opacity"></i>
            <i class="fa fa-linkedin mvc-hover-opacity"></i>
          </div>
        </footer>

        <script>
          // Change style of navbar on scroll
          window.onscroll = function () {
            myFunction();
          };
          function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (
              document.body.scrollTop > 100 ||
              document.documentElement.scrollTop > 100
            ) {
              navbar.className =
                "mvc-bar" + " mvc-card" + " mvc-animate-top" + " mvc-white";
            } else {
              navbar.className = navbar.className.replace(
                " mvc-card mvc-animate-top mvc-white",
                ""
              );
            }
          }
        </script>
  </body>

</html>